body {
    margin-top: 100px;
}

h1 {
    text-align: center;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 5px; 
}

input {
    border: none;
    width: 100%;
}

li i {
    float: right;
    padding-right: 5px;
    text-align: center;
}
