body {
    margin-top: 100px;
}

h1 {
    text-align: center;
    color: lightblue;
}

ul {
    padding: 0;
    margin-bottom: 0;
    border-top: 1px solid lightblue;
    margin: auto;
    width: 50%;
}

ul li {
    border-bottom: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-left: 1px solid lightblue;
    list-style: none;
    padding: 5px; 
    border-radius: 2px;
}

input {
    border: none;
    width: 100%;
}

li i {
    float: right;
    padding-right: 5px;
    text-align: center;
}
 .tasks {
    margin: auto;
    width: 50%;
 }
